.container {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 250px;
    height: 250px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iteam {
    width: 125px;
    height: 125px;
    background-color: black;
}